<div class="eqLogic eqLogic-widget allowResize allowReorderCmd #custom_layout# #eqLogic_class# #class#"
     data-eqType="#eqType#"
     data-eqLogic_id="#id#"
     data-eqLogic_uid="#uid#"
     data-version="#version#"
     data-translate-category="#translate_category#"
     data-category="#category#"
     data-tags="#tags#"
     style="width: #width#;height: #height#;#style#; background-color: #015871 !important;">
    <div class="widget-name text-center">
        <span style="font-size: 1.2em;#hideEqLogicName#">
            <a href="#eqLink#">#name_display#
                <span class="object_name">#object_name#</span>
            </a>
        </span>
    </div>
    <input id="confpackoklyn" name="confpackoklyn" type="hidden" value="#confpackoklyn#">
    <section>
        <div class="text-center state #historyair#" data-cmd_id="#idair#" style="font-size: 35px">#stateair#°</div>
        <div class="curve"></div>
    </section>
    <div class=" text-center state #historywater#" data-cmd_id="#idwater#" style="font-size: 35px; padding-top: 15px; background-color: #015871">#statewater#°</div>
    <div style="height: 80px; background-color: #015871">
        <a id="icon_filtation" class="col-xs-6 text-center" style="margin-top: 10px">
            <div id="popuppool"
                 data-type="action"
                 data-toggle="tooltip"
                 data-subtype="other"
                 data-cmd_auto_id="#pompeauto_id#"
                 data-cmd_on_id="#pompeon_id#"
                 data-cmd_off_id="#pompeoff_id#"
                 data-pompe="#pompe#">
            </div>
            <div id="icon_pool"><i class="fas fa-swimming-pool fa-4x"></i></div>
        </a>
        <a class="#confaux# col-xs-6 text-center" id="#confaux#_aux" style="margin-top: 10px">
            <div class="cmd cmd-widget"
                 data-type="action"
                 data-toggle="tooltip"
                 data-statut="#aux#"
                 data-subtype="other"
                 data-cmd_on_id="#auxon_id#"
                 data-cmd_off_id="#auxoff_id#"
                 id="icon_aux">
            </div>
        </a>
    </div>
    <div id="textfiltration" style="width: auto; height: 60px; display: none"></div>
    <div style="height: 100px; background-color: #015871">
        <div class="col-xs-6 #historyph#" data-cmd_id="#idph#" id="phseul">
            <div id="outer-circle-ph">
                <div class="circle_text state">
                    <strong id="domph">#stateph#<br>pH</strong>
                </div>
            </div>
        </div>
        <div class="col-xs-6 #historyorp#" data-cmd_id="#idorp#" id="phredox">
            <div id="outer-circle-orp">
                <div class="circle_text state">
                    <strong id="domorp">#stateorp#<br>RedOx</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" style="background-color: #015871; padding-bottom: 5px">
        #datetemperature#
    </div>
    #divGraphInfo#
    <script src="/plugins/oklyn/core/template/js/phredox.js"></script>
    <script src="/plugins/oklyn/core/template/js/commun.js"></script>
    <link href="/plugins/oklyn/core/template/css/oklyn.css" rel="stylesheet">
</div>