<div class="eqLogic eqLogic-widget" data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#">
    <div class="widget-name text-center">
        <span style="font-size: 1.2em;#hideEqLogicName#">
            <a href="#eqLink#">#name_display#
                <span class="object_name">#object_name#</span>
            </a>
        </span>
    </div>
    <div class="row">
        <div class="col-md center-md">
            <div>Air : #temperature# °c</div>
            <div>Water : #eau# °C</div>
            <div id="#phseul#">PH : #ph#</div>
            <div id="#phredox#">ORP : #orp#</div>
            <div id="#phredoxsalt#">SEL : #salt#</div>
            <div>Pompe : #pompe#</div>
            <span id="cmd_#pompeoff_id#" class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#pompeoff_id#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Stop">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-stop"></i>
                  </a>
            </span>
            <span id="cmd_#pompeon_id#" class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#pompeon_id#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Play">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-play"></i>
                  </a>
            </span>
            <span id="cmd_#pompeauto_id#" class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#pompeauto_id#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Auto">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-sync"></i>
                  </a>
            </span>
            <div id="#confaux#">
                <div>Auxilaire : #aux#</div>
                <span id="cmd_#auxoff_id#" class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#auxoff_id#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Stop">
                    <a class="btn btn-sm btn-default action">
                        <i class="fas fa-stop"></i>
                    </a>
                </span>
                <span id="cmd_#auxon_id#" class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#auxon_id#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Play">
                    <a class="btn btn-sm btn-default action">
                        <i class="fas fa-play"></i>
                    </a>
                </span>
            </div>
            <div id="#confauxsecond#">
                <div>Auxilaire 2 : #aux#</div>
                <span id="cmd_#auxsecondoff_id#" class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#auxsecondoff_id#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Stop">
                    <a class="btn btn-sm btn-default action">
                        <i class="fas fa-stop"></i>
                    </a>
                </span>
                <span id="cmd_#auxsecondon_id#" class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#auxsecondon_id#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Play">
                    <a class="btn btn-sm btn-default action">
                        <i class="fas fa-play"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>