<div class="eqLogic eqLogic-widget #class#" data-eqLogic_id="#id#" data-eqType="#eqType#" data-version="#version#" data-eqLogic_uid="#uid#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="#style#">
    <div style="text-align: center">
        <span class="widget-name">
            <span style="#hideEqLogicName#">#name_display# <span class="object_name">#object_name#</span></span><br/>
        </span>
    </div>
    <input id="confpackoklyn" name="confpackoklyn" type="hidden" value="#confpackoklyn#">
    <div class="mobilecenter">
        <span class="cmdName">Air :</span> <strong class="state">#temperature# °C</strong>
    </div>
    <div class="mobilecenter">
        <span class="cmdName">Water :</span> <strong class="state">#eau# °C</strong>
    </div>
    <div class="mobilecenter">
        <span class="cmdName">PH :</span> <strong class="state">#ph#</strong>
    </div>
    <div class="mobilecenter">
        <span class="cmdName">ORP :</span> <strong class="state">#orp#</strong>
    </div>
    <div class="mobilecenter">
        <span class="cmdName">SEL :</span> <strong class="state">#salt#</strong>
    </div>
    <div class="mobilecenter">
        <span class="cmdName">Pompe :</span> <strong class="state">#pompe#</strong>
    </div>
    <div class="mobilecenter">
         <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-template="default" data-cmd_id="#pompeoff_id#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Arreter la pompe">
            <a class="action ui-btn ui-mini ui-btn-inline ui-btn-raised">
                <i class="fas fa-stop"></i>
            </a>
        </span>
        <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-template="default" data-cmd_id="#pompeon_id#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Lancer la pompe">
            <a class="action ui-btn ui-mini ui-btn-inline ui-btn-raised">
                <i class="fas fa-play"></i>
            </a>
        </span>
        <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-template="default" data-cmd_id="#pompeauto_id#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Auto la pompe">
            <a class="action ui-btn ui-mini ui-btn-inline ui-btn-raised">
                <i class="fas fa-sync"></i>
            </a>
        </span>
    </div>
    <div class="mobilecenter">
        <span class="cmdName">Auxilaire :</span> <strong class="state">#aux#</strong>
    </div>
    <div class="mobilecenter">
        <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-template="default" data-cmd_id="#auxoff_id#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Arreter l'auxilaire 1">
            <a class="action ui-btn ui-mini ui-btn-inline ui-btn-raised">
                <i class="fas fa-stop"></i>
            </a>
        </span>
        <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-template="default" data-cmd_id="#auxon_id#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Lancer l'auxilaire 1">
            <a class="action ui-btn ui-mini ui-btn-inline ui-btn-raised">
                <i class="fas fa-play"></i>
            </a>
        </span>
    </div>
    <div class="mobilecenter">
        <span class="cmdName">Auxilaire 2 :</span> <strong class="state">#auxsecond#</strong>
    </div>
    <div class="mobilecenter">
         <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-template="default" data-cmd_id="#auxsecondoff_id#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Arreter l'auxilaire 2">
            <a class="action ui-btn ui-mini ui-btn-inline ui-btn-raised">
                <i class="fas fa-stop"></i>
            </a>
        </span>
        <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-template="default" data-cmd_id="#auxsecondon_id#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Lancer l'auxilaire 2">
            <a class="action ui-btn ui-mini ui-btn-inline ui-btn-raised">
                <i class="fas fa-play"></i>
            </a>
        </span>
    </div>
    <style>
        .mobilecenter
        {
            text-align: center;
        }
    </style>
</div>